{%extends 'fasa/index.html' %}
{%load static%}
{%block extrahead%}
<link href="{%static 'fasa/css/register.css' %}" rel="stylesheet">
{%endblock%}
{%block content%}
    <div class="container">
        <h3>Por favor confirma tu correo electronico para completar la registracion</h3>
    </div>
{%endblock%}