{%extends 'fasa/index.html' %}
{%load static%}
{%block extrahead%}
<link href="{%static 'fasa/css/register.css' %}" rel="stylesheet">
{%endblock%}
{%block content%}
    <div class="container">
        <h3>El link de confirmacion es invalido, puede ser porque ya lo has usado</h3>
    </div>
{%endblock%}