{%extends 'default/index.html' %}
{%load static%}
{%block extrahead%}
    <link href="{%static 'default/css/style.css' %}" rel="stylesheet">
{%endblock%}

{%block content%}

<!-- Register Section Begin -->
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="{% get_media_prefix %}imagenes/iconfinder_38_Target_Audience_1688838.png" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form action="#" method="post">
      {% csrf_token %}
      <div class="alert-danger">{{ form.non_field_errors }}</div>

      <div class="form-input">
        <input type="text" id="{{form.username.name}}" class="fadeIn second" name="{{form.username.name}}" placeholder="Usuario">
      </div>
      <div class="form-input">
        <input type="password" id="{{form.pasword.name}}" class="fadeIn third" name="{{form.password.name}}" placeholder="Contraseña">
      </div>
      <div class="form-input">
        <input type="submit" class="fadeIn fourth" value="Ingresar">
      </div>

    </form>
    <div class="contanier">
      <p>Queres tener tu usuario?</p>
      <p>Enviame un <a href="https://wa.me/543743667526?text=Me%20interesa%20el%20acceso%20al%20sistema%20de%20gestion%20de%20gimnasios">WhatsApp <i class="fab fa-whatsapp"></i></a></p>
    </div>


  </div>
</div>
<!-- Register Form Section End -->
{%endblock%}