{%load static%}
<div class="container">
    <div class="row centered-form center-block">
        <div class="col col-md-3">
            <div class="card">
                <img class="card-img-top" src="{% get_media_prefix%}/imagenes/alumnos.png" alt="Alumnos">
                <div class="card-body">
                    <a href="{%url 'alumnos:listar' %}" class="btn btn-primary col">Alumnos</a>
                </div>
            </div>
        </div>
        <div class="col col-md-3">
            <div class="card">
                <img class="card-img-top" src="{% get_media_prefix%}/imagenes/pagos.png" alt="Pagos">
                <div class="card-body">
                    <a href="{%url 'alumnos:lista_pago' %}" class="btn btn-primary col">Pagos</a>
                </div>
            </div>
        </div>
    </div>
</div>