{%load static%}
<div class="container py-4">
  <div class="container">
    <p><span class="badge badge-info">Tenes alguien para recomendar el sistema?</span></p>
    <p>Enviame un <a href="https://wa.me/543743667526?text=Me%20interesa%20el%20acceso%20al%20sistema%20de%20gestion%20de%20gimnasios">WhatsApp <i class="fab fa-whatsapp"></i></a></p>
  </div>
  <div class="copyright">
    &copy; Copyright <strong><span><a href="http://www.servinlgsm.com.ar"> Servin</a></span></strong>
  </div>
  <div class="credits">
    <!-- All the links in the footer should remain intact. -->
    <!-- You can delete the links only if you purchased the pro version. -->
    <!-- Licensing information: https://bootstrapmade.com/license/ -->
    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/free-bootstrap-app-landing-page-template/ -->
    Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
  </div>
</div>
