{%load static%}
    <div class="container d-flex align-items-center">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href="{%url 'inicio:inicio' %}">Gestion-Gym {{request.user}}</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="{%url 'inicio:inicio' %}">Inicio</a></li>
          <li><a href="{%url 'alumnos:listar' %}">Alumnos</a></li>
          <li><a href="{%url 'alumnos:lista_pago' %}">Cobranzas</a></li>
          <li><a href="{%url 'alumnos:clases' %}">Clases</a></li>
          <li><a href="#contact">Contactate</a></li>
          <li><a href="{%url 'usuarios:logout' %}">Cerrar Sesion</a></li>
        </ul>
      </nav><!-- .nav-menu -->

    </div>