{%extends 'default/index.html' %}
{%load static%}
{%block title%}
    Alumnos
{%endblock%}

{%block content%}
<div class="container">
    {%if nombre_boton%}
        <h3>{{nombre_boton}}</h3>
    {%else%}
        <h3>Añadir Alumno</h3>
    {%endif%}
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {%if nombre_boton%}
            <input type="submit" value="{{nombre_boton}}" />
        {%else%}
            <input type="submit" value="Añadir alumno" />
        {%endif%}
    </form>
</div>
{%endblock%}