{%extends 'default/index.html' %}
{%load static%}
{%block title%}
    Clases
{%endblock%}

{%block content%}
<div id="clases">
    <div class="container">
        <h1>Lista de clases</h1>
        <div class="row">
            <button  type="button" class="btn btn-primary col" data-toggle="modal" data-target="#addClaseModal"><i class="far fa-plus-square"></i></button>
            <input class="form-control mr-sm-2 col-8" type="text" placeholder="Busqueda" v-model="search_term" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0 col" v-on:click.prevent="getClases()"><i class="fas fa-search"></i></button>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Accion</th>
            </tr>
            </thead>
            <tbody>
                <tr v-for="clase in clases">
                    <th scope="row">${clase.id}$</th>
                    <td>${clase.nombre}$</td>
                    <td>
                      <button class="btn btn-info" v-on:click="getClase(clase.id)"><i class="far fa-edit"></i></button>
                      <button class="btn btn-danger" v-on:click="deleteClase(clase.id)"><i class="far fa-trash-alt"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- Add clase Modal -->
          <div class="modal fade" id="addClaseModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Agregar Clase</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form v-on:submit.prevent="addClase()">
                    <div class="modal-body">
                        <div class="form-group">
                          <label for="clase_nombre">Nombre Clase</label>
                          <input
                            type="text"
                            class="form-control"
                            id="clase_nombre"
                            placeholder="Ingrese el nombre de la clase"
                            v-model="newClase.nombre"
                            required="required" >
                        </div>
                        <div class="form-group">
                          <label for="clase_monto">Monto</label>
                          <input type="number"
                            class="form-control"
                            id="clase_monto"
                            placeholder="Ingrese el monto"
                            v-model="newClase.monto"
                            required="required">
                        </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary m-progress" data-dismiss="modal">Cerrar</button>
                      <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
              </div>
            </div>
            <div class="loading" v-if="loading===true">Cargando&#8230;</div>
          </div>
          <!-- End of add article modal -->
        <!-- Edit clase Modal -->
          <div class="modal fade" id="editClaseModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" >Editar Clase</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form v-on:submit.prevent="editClase()">
                    <div class="modal-body">
                        <div class="form-group">
                          <label for="edit_clase_nombre">Nombre Clase</label>
                          <input
                            type="text"
                            class="form-control"
                            id="edit_clase_nombre"
                            placeholder="Ingrese el nombre de la clase"
                            v-model="currentClase.nombre"
                            required="required" >
                        </div>
                        <div class="form-group">
                          <label for="edit_clase_monto">Monto</label>
                          <input type="number"
                            class="form-control"
                            id="edit_clase_monto"
                            placeholder="Ingrese el monto"
                            v-model="currentClase.monto"
                            required="required">
                        </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary m-progress" data-dismiss="modal">Cerrar</button>
                      <button type="submit" class="btn btn-primary" >Guardar</button>
                    </div>
                </form>
              </div>
            </div>
            <div class="loading" v-if="loading===true">Cargando&#8230;</div>
          </div>
          <!-- End of edit article modal -->
    </div>
</div>
{%endblock%}

{%block extrajs%}

<script type="text/javascript">
    function readCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for(var i=0;i < ca.length;i++) {
            var c = ca[i];
            while (c.charAt(0)==' ') c = c.substring(1,c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
        }
        return null;
    }
    var csrftoken = readCookie('csrftoken');
    new Vue({
       el: '#clases',
       delimiters: ['${','}$'],
       data: {
            clases: [],
            loading: false,
            currentClase: {},
            message: null,
            newClase: { 'nombre': null, 'monto': null, 'empresa': {{request.user.id}} },
            search_term: '',
            csrftoken: csrftoken,
        },
         mounted: function() {
            this.getClases();
         },
     methods: {
        getClases: function(){
            let api_url = '/api/v1.0/clases';
            if(this.search_term!==''||this.search_term!==null) {
                api_url = '/api/v1.0/clases/?search='+this.search_term
          }
          this.loading = true;
          this.$http.get(api_url)
              .then((response) => {
                this.clases = response.data;
                this.loading = false;
                console.log(this.clases);
              })
              .catch((err) => {
                this.loading = false;
                console.log(err);
           })
        },
        getClase: function(id) {
          this.loading = true;
          console.log("ID Buscado => " + id);
          this.$http.get('/api/v1.0/clases/'+id+'/')
              .then((response) => {
                this.currentClase = response.data;
                $("#editClaseModal").modal('show');
                this.loading = false;
              })
              .catch((err) => {
                this.loading = false;
                console.log(err);
              })
        },
        addClase: function() {
          this.loading = true;
          console.log(this.csrftoken);
          this.$http.post('/api/v1.0/clases/',this.newClase,{headers: {"X-CSRFToken":this.csrftoken}})
              .then((response) => {
                this.loading = true;
                this.getClases();
                $('#addClaseModal').modal('hide')
              })
              .catch((err) => {
                this.loading = true;
                console.log(err);
              })
        },
        editClase: function() {
          this.loading = true;
          console.log(this.currentClase);
          this.$http.put('/api/v1.0/clases/'+this.currentClase.id+'/', this.currentClase, {headers: {"X-CSRFToken":this.csrftoken}})
              .then((response) => {
                this.loading = false;
                this.currentClase = response.data;
                this.getClases();
                $('#editClaseModal').modal('hide')
              })
              .catch((err) => {
                this.loading = false;
                console.log(err);
              })
        },
        deleteClase: function(id) {
          this.loading = true;
            swal({
              title: "Esta seguro?",
              text: "Una vez eliminado no es posible recuperar rel registro!",
              icon: "warning",
              buttons: true,
              dangerMode: true,
            })
            .then((willDelete) => {
              if (willDelete) {
                  this.$http.delete('/api/v1.0/clases/'+id+'/',{headers: {"X-CSRFToken":this.csrftoken}})
                      .then((response) => {
                        this.loading = false;
                        this.getClases();
                      })
                      .catch((err) => {
                        this.loading = false;
                        console.log(err);
                      })
              } else {
                swal("El registro no ha sido eliminado!");
              }
            });
        }
    },
  });
</script>
{%endblock%}
