{%extends 'default/index.html' %}
{%load static%}
{%block extrahead%}
    <link href="{%static 'default/css/alumnos.css' %}" rel="stylesheet">
{%endblock%}

{%block content%}
<div class="container">
    <h3>Alumnos</h3>
    <div class="row">
        <form method="post" class="form-inline">
            {% csrf_token %}
<!--            <div class="col col-md-12 col-xs-12 col-sm">-->
            <div class="form-group mb-2">
                {{form.nombre}}
            </div>
            <div class="form-group mb-2">
                <button type="submit" class="btn btn-primary"><i class="fas fa-search-plus"></i></button>
            </div>
        </form>
<!--            </div>-->
    </div>

    <div class="row">
        <table class="table table-striped custab">
        <div class="col">
            <a href="{%url 'alumnos:agregar' %}" class="btn btn-primary btn-xs pull-right"><i class="fas fa-user-plus"></i></a>
        </div>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th class="text-center">Accion</th>
            </tr>
            </thead>
            <tbody>
            {%for a in alumnos%}
                <tr>
                    <td>{{a.id}}</td>
                    <td>{{a.nombre}}</td>
                    <td class="text-center">
                        <a class='btn btn-info btn-xs' href="{%url 'alumnos:editar' a.id %}"><i class="fas fa-user-edit"></i></a>
                        <a href="{%url 'alumnos:registra_pago' a.id %}" class="btn btn-success btn-xs"><i class="far fa-money-bill-alt"></i></a>
                        <a href="{%url 'alumnos:borrar' a.id %}" class="btn btn-danger btn-xs"><i class="fas fa-user-minus"></i></a>
                        <a href="{%url 'alumnos:listar_pagos_alumnos' idalumno=a.id %}" class="btn btn-info btn-xs"><i class="fas fa-hand-holding-usd"></i></a>
                    </td>
                </tr>
            {%endfor%}
            </tbody>
        </table>
        {%include 'default/paginador.html' with page_obj=alumnos%}
    </div>
</div>
{%endblock%}