{%extends 'default/index.html' %}
{%load static%}
{%block title%}
    Lista pagos
{%endblock%}

{%block content%}
<div class="container" id="pagos">
    <h3>Lista pago</h3>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Listar" />
    </form>
    <div class="row">
        <table class="table table-striped custab">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Alumno</th>
                    <th>Monto</th>
                    <th>Accion</th>
                </tr>
            </thead>
            <tbody>
                {%for p in pagos%}
                    <tr>
                        <td>{{p.fecha}}</td>
                        <td>{{p.alumno}}</td>
                        <td>{{p.monto}}</td>
                        <td><button class="btn btn-danger" v-on:click="deletePago({{p.id}})"><i class="far fa-trash-alt"></i></button></td>
                    </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</div>
{%endblock%}

{%block extrajs%}
<script type="text/javascript">
    function readCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for(var i=0;i < ca.length;i++) {
            var c = ca[i];
            while (c.charAt(0)==' ') c = c.substring(1,c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
        }
        return null;
    }
    var csrftoken = readCookie('csrftoken');
    new Vue({
       el: '#pagos',
       delimiters: ['${','}$'],
       data: {
            pagos: [],
            currentPago: {},
            message: null,
            csrftoken: csrftoken,
        },
        methods: {
            deletePago: function(id) {
                console.log("id a borrar => " + id);
                swal({
                  title: "Esta seguro?",
                  text: "Una vez eliminado no es posible recuperar rel registro!",
                  icon: "warning",
                  buttons: true,
                  dangerMode: true,
                })
                .then((willDelete) => {
                  if (willDelete) {
                      this.$http.delete('/api/v1.0/pagos/'+id+'/',{headers: {"X-CSRFToken":this.csrftoken}})
                          .then((response) => {
                            this.loading = false;
                          })
                          .catch((err) => {
                            this.loading = false;
                            console.log(err);
                          })
                  } else {
                    swal("El registro no ha sido eliminado!");
                  }
                });
            }
        }
   });
</script>

{%endblock%}
