{%extends 'default/index.html' %}
{%load static%}
{%block title%}
    Registra pagos
{%endblock%}

{%block content%}
<div class="container">
    <h3>Registra pago</h3>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Registrar" />
    </form>
    <h5>Clases activas</h5>
    <div class="row">
        {%for clase in alumno.clases.all%}
            <p class="text-justify">{{clase.nombre}} - ${{clase.monto}}</p>
        {%endfor%}
    </div>
</div>
{%endblock%}